/* -- css reset --*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, big, cite, code, dfn, em, img, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  overflow: scroll;
  box-sizing: border-box;
}

/* -- global styling -- */

p, a, li, ul, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.name {
  margin-top: .5em;
  margin-bottom: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  border-top: solid 1px #bababa;
  border-bottom: solid 1px #bababa;
}

img {
	width: auto;
	height: auto;
  max-width: 100%;
  max-height: 100%;
	overflow: hidden;
}

.dots {
	align-self: center;
}

/* -- menu styling used on multiple pages -- */
.the-menu {
	margin-top: 1em;
	font-size: 1.25em;
	color: #bababa;
}

.menu-box {
	display: none;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* -- index specific styling -- */
h1 {
  font-size: 3em;
  font-family: 'Shrikhand', cursive;
}

/* -- about specific styling --*/

h2 {
	font-size: 2em;
	font-family: 'Shrikhand', cursive;
}

p + p {
	margin-top: .30em;
}

/* -- contact specific styling -- */

.cool-pic {
	margin-top: 2em;
}

.contact-links {
	font-weight: bold;
}

/* -- work specific styling -- */

.grid {
	align-items: center;
}
